/* .image-container {
    background-color: #490082; 
    display: inline-block;
  } */

  /* .colorized-image {
    filter: grayscale(100%) invert(100%) sepia(100%) saturate(50%) hue-rotate(180deg);
  } */